body {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.bottom-container {
    background-color: #000000;
    padding: 0 0 5px;
}

.break {
    height: 20px;
    margin: 200px auto;
}

.btn {
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 75px auto;
    background-color: #000000;
}

.createdby {
    color: #ffffff;
}

.footer-link {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    margin: 15px;
    font-size: 16px;
}

h1 {
    font-size: 5rem;
    color: #000000;
}

h2 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #000000;
}

h3 {
    font-size: 2.5rem;
    color: #000000;
}

.intro {
    width: 30%;
    margin: auto;
}

.logo {
    display: block;
    margin: 100px auto 0 auto;
    max-width: 100%;
    height: auto;
}

nav.navbar {
    background-color: #000000;
}

.navbar-brand {
    font-family: 'Stardos Stencil', cursive;
    font-size: xx-large;
    color: #ffffff;
}

/* Does not change color of nav-link text. Need another solution. */
nav.navbar a.nav-link {
    color: #ffffff;
}

p {
    line-height: 2;
    font-size: 16px;
}

.servicelink {
    display: inline-block;
    color: #000000;
    text-decoration: underline;
    font-size: 20px;
}

.service-img {
    width: 20%;
    float: top;
    margin-right: 30px;
    padding-bottom: 2rem;
}

.service-row {
    margin: 1px auto 100px;
    text-align: center;
    padding-bottom: 1rem;
}

.top-container {
    position: relative;
    padding-top: 100px;
    width: 100%;
}

.word {
    text-decoration: underline;
}

@media screen and (max-width: 1170px) {
    .btn {
       font-size: 30px;
    }
    
    p {
        font-size: 25px;
    }

    .servicelink {
        font-size: 30px;
    }

    .footer-link {
        font-size: 25px;
    }

    .navbar-brand {
        font-size: 60px;
    }

    .navbar-toggler-icon {
        height: 100px;
        width: 100px;
    }

    .nav-link {
        font-size: 40px;
    }
}